<!--hyperlinks :3-->
    <div class = "hyperspeed">
    <div class = "okay">
        <div style="width: 150px;height: 120px; outline-width: 10px; border-bottom-width: 20px;"> <a href="http://www.example.com"></a></div>
        <div style="width: 100px;height: 100px; outline-width: 10px; border-bottom-width: 10px;"></div>
        <div style="width: 100px;height: 170px; outline-width: 10px; border-top-width: 60px;"></div>
        <div style="width: 100px;height: 120px; outline-width: 10px; border-bottom-width: 10px;"></div>
        <div style="width: 100px;height: 120px; outline-width: 10px; "></div>
        <div style="width: 100px;height: 100px; outline-width: 10px; "></div>
        <div style="width: 100px;height: 120px; outline-width: 10px; "></div>
    </div>
    </div>
<!-- Person w/chakras -->        
    <div class="cman">  
            <a href="main/main-c/main-c.component.html">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Chakras_map.svg/256px-Chakras_map.svg.png" style="width:900px;height:900px;"> 
            </a>
    </div>

 <!-- Highlight Card -->
    <div class="content" role="main">  
        <div class="card highlight-card card-small">
        <h2>Welcome!</h2>
        </div>
    </div>


    